<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shopping Cart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/ararat/img/favicon.png}">
    <!-- Place favicon.ico in the root directory -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/ararat/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/animate.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/style.css}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <div th:replace="fragments/client-header :: header">...</div>
    <!-- header-end -->

    <div class="alert alert-primary" role="alert" th:if="${response == 'NoData'}">
        No items in the cart
    </div>

    <!-- dream_service_start -->
    <div class="team_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive text-nowrap">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="th-sm" scope="col">Product ID</th>
                                        <th class="th-sm" scope="col">Product Name</th>
                                        <th class="th-sm" scope="col">Price</th>
                                        <th class="th-sm" scope="col">Quantity</th>
                                        <th class="th-sm" scope="col">Total Money</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="items : ${session.orders.getItems()}" th:unless="${session.orders.getItems() == null}">
                                        <td><p th:text="${items.getProduct().getId()}"></p></td>
                                        <!--                        <td><img th:src="'/img/' + ${items.getProduct().getImgURL()}"> <p th:text="${items.getProduct().getName()}"></p></td>-->
                                        <td th:text="${items.getProduct().getName()}"></td>
                                        <td><p th:text="${items.getPrice()} + '$'"></p></td>
                                        <td><p th:text="${items.getQuantity()}"></p></td>
                                        <td><p th:text="${items.getPrice()} * ${items.getQuantity()} + '$'"></p></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="float-sm-right">
                <h3>Total: <h3 th:text="${session.orders.total()} + '$'"></h3></h3>
            </div>
            <div class="confirm-orders mt-2">
                <a th:href="@{/orders/confirm-orders}" class="btn btn-outline-primary">CONFIRM CUSTOMER INFORMATION</a>
            </div>
        </div>
    </div>
    <!-- dream_service_end -->

    <!-- footer_start -->
    <div th:replace="fragments/client-footer :: footer">...</div>
    <!-- footer_end -->


    <!-- JS here -->
    <script th:src="@{/ararat/js/vendor/modernizr-3.5.0.min.js}"></script>
    <script th:src="@{/ararat/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/ararat/js/popper.min.js}"></script>
    <script th:src="@{/ararat/js/bootstrap.min.js}"></script>
    <script th:src="@{/ararat/js/owl.carousel.min.js}"></script>
    <script th:src="@{/ararat/js/isotope.pkgd.min.js}"></script>
    <script th:src="@{/ararat/js/ajax-form.js}"></script>
    <script th:src="@{/ararat/js/waypoints.min.js}"></script>
    <script th:src="@{/ararat/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/ararat/js/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{/ararat/js/scrollIt.js}"></script>
    <script th:src="@{/ararat/js/jquery.scrollUp.min.js}"></script>
    <script th:src="@{/ararat/js/wow.min.js}"></script>
    <script th:src="@{/ararat/js/nice-select.min.js}"></script>
    <script th:src="@{/ararat/js/jquery.slicknav.min.js}"></script>
    <script th:src="@{/ararat/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/ararat/js/plugins.js}"></script>

    <script th:src="@{/ararat/js/contact.js}"></script>
    <script th:src="@{/ararat/js/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{/ararat/js/jquery.form.js}"></script>
    <script th:src="@{/ararat/js/jquery.validate.min.js}"></script>
    <script th:src="@{/ararat/js/mail-script.js}"></script>

    <script th:src="@{/ararat/js/main.js}"></script>

</body>

</html>