<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>AdminWrap - Easy to Customize Bootstrap 4 Admin Template</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/assets/node_modules/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/css/colors/default.css}" id="theme" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/product/product.js}" type="text/javascript"></script>

</head>

<body class="fix-header card-no-border fix-sidebar">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Admin Wrap</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div th:replace="fragments/admin-header :: header">...</div>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <div th:replace="fragments/admin-sidebar :: side-bar">...</div>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">List Product</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
<!--                <div class="col-md-7 align-self-center">-->
<!--                    <a href="https://wrappixel.com/templates/adminwrap/" class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down"> Upgrade to Pro</a>-->
<!--                </div>-->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <!-- column -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <a class="btn btn-primary" href="javascript:void(0)" id="createNewProduct"> Create New Product</a>
                            <!--<h1>Menu Table</h1>-->
                            <table id="dtBasicExample" class="mt-3 table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th class="th-sm">Product ID
                                    </th>
                                    <th class="th-sm">Product Name
                                    </th>
                                    <th class="th-sm">Made In
                                    </th>
                                    <th class="th-sm">Detail
                                    </th>
                                    <th class="th-sm">Image Name
                                    </th>
                                    <th class="th-sm">Price
                                    </th>
                                    <th class="th-sm">Edit
                                    </th>
                                    <th class="th-sm">Delete
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="product : ${listProduct}">
                                        <td><p th:text="${product.id}"></p></td>
                                        <td><p th:text="${product.name}"></p></td>
                                        <td><p th:text="${product.madeIn}"></p></td>
                                        <td><p th:text="${product.detail}"></p></td>
                                        <td><p th:text="${product.imgURL}"></p></td>
                                        <td><p th:text="${product.price}"></p></td>
                                        <td>
                                            <a th:href="@{'/admin/show-edit-form/' + ${product.id}}"><i class="fa fa-edit"></i></a>
                                        </td>
                                        <td>
                                            <a th:href="@{'/admin/delete-product/' + ${product.id}}"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div th:replace="fragments/admin-footer :: footer">...</div>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>

<div class="modal fade" id="ajaxModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelHeading"></h4>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/save-product}" th:object="${product}" method="post" enctype="multipart/form-data" id="productForm" name="productForm" class="form-horizontal">
                    <input type="hidden" name="product_id" id="product_id">
<!--                    <div  class="form-group">-->
<!--                        <div class="col-sm-12">-->
<!--                            <label class="col-sm-4 control-label">Product ID</label>-->
<!--                            <input type="text" th:field = "*{id}" class="form-control" id="productId" name="productId" placeholder="ID">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Product Name</label>
                        <div class="col-sm-12">
                            <input type="text" th:field = "*{name}" class="form-control" id="productName" name="productName" placeholder="Product Name" value="" maxlength="50" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Made In</label>
                        <div class="col-sm-12">
                            <input type="text" th:field = "*{madeIn}"  class="form-control" id="madeIn" name="madeIn" placeholder="Made In" value="" maxlength="50" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Price</label>
                        <div class="col-sm-12">
                            <input type="text" th:field = "*{price}" class="form-control" id="price" name="price" placeholder="Price" value="" maxlength="50" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="custom-file">
                                <input type="file" th:name="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="message-text" class="col-form-label">Detail</label>
                            <textarea class="form-control" th:field = "*{detail}" id="message-text" name="detail" placeholder="Detail"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" id="saveBtn" value="create">Save Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/node_modules/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/assets/node_modules/bootstrap/js/bootstrap.min.js}"></script>

<!-- slimscrollbar scrollbar JavaScript -->
<script th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
<!--Wave Effects -->
<script th:src="@{/js/waves.js}"></script>
<!--Menu sidebar -->
<script th:src="@{/js/sidebarmenu.js}"></script>
<!--Custom JavaScript -->
<script th:src="@{/js/custom.min.js}"></script>
<!-- jQuery peity -->
<!--<script src="../assets/node_modules/peity/jquery.peity.min.js"></script>-->
<!--<script src="../assets/node_modules/peity/jquery.peity.init.js"></script>-->
<!--<script src="../assets/node_modules/jquery/jquery.min.js"></script>-->
</body>

</html>