<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>AdminWrap - Easy to Customize Bootstrap 4 Admin Template</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/assets/node_modules/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/css/colors/default.css}" id="theme" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/product/product.js}" type="text/javascript"></script>

</head>

<body class="fix-header card-no-border fix-sidebar">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">List Orders</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div th:replace="fragments/admin-header :: header">...</div>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <div th:replace="fragments/admin-sidebar :: side-bar">...</div>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">List Orders</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
                <!--                <div class="col-md-7 align-self-center">-->
                <!--                    <a href="https://wrappixel.com/templates/adminwrap/" class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down"> Upgrade to Pro</a>-->
                <!--                </div>-->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <!-- column -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
<!--                            <a class="btn btn-primary" href="javascript:void(0)" id="createNewProduct"> Create New Product</a>-->
                            <!--<h1>Menu Table</h1>-->
                            <table id="dtBasicExample" class="mt-3 table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th class="th-sm">Orders ID
                                    </th>
                                    <th class="th-sm">Name
                                    </th>
                                    <th class="th-sm">Address
                                    </th>
                                    <th class="th-sm">Phone Number
                                    </th>
                                    <th class="th-sm">
                                        Items
                                    </th>
                                    <th>Total
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orders : ${listorders}">
                                    <td><p th:text="${orders.id}"></p></td>
                                    <td><p th:text="${orders.name}"></p></td>
                                    <td><p th:text="${orders.address}"></p></td>
                                    <td><p th:text="${orders.phoneNumber}"></p></td>
                                    <td>
                                        <div  th:each="items : ${listitems}">
                                            <p>Name: <span th:text="${items.getProduct().getName()}"></span></p>
                                            <p>Price: <span th:text="${items.getPrice() + '$'}"></span></p>
                                            <p>Quantity: <span th:text="${items.getQuantity()}"></span></p>
                                            <hr>
                                        </div>
                                    </td>
                                    <td><p th:text="${orders.getTotal() + '$'}"></p></td>
<!--                                    <td>-->
<!--                                        <a class="btn btn-primary" href="javascript:void(0)" id="createNewProduct"> Show Items Orders</a>-->
<!--                                    </td>-->
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div th:replace="fragments/admin-footer :: footer">...</div>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>

<div class="modal fade" id="ajaxModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelHeading"></h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


<script th:src="@{/assets/node_modules/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/assets/node_modules/bootstrap/js/bootstrap.min.js}"></script>

<!-- slimscrollbar scrollbar JavaScript -->
<script th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
<!--Wave Effects -->
<script th:src="@{/js/waves.js}"></script>
<!--Menu sidebar -->
<script th:src="@{/js/sidebarmenu.js}"></script>
<!--Custom JavaScript -->
<script th:src="@{/js/custom.min.js}"></script>
<!-- jQuery peity -->
<!--<script src="../assets/node_modules/peity/jquery.peity.min.js"></script>-->
<!--<script src="../assets/node_modules/peity/jquery.peity.init.js"></script>-->
<!--<script src="../assets/node_modules/jquery/jquery.min.js"></script>-->
</body>

</html>