<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ararat</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/ararat/img/favicon.png}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/ararat/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/animate.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/ararat/css/style.css}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <div th:replace="fragments/client-header :: header">...</div>
    <!-- header-end -->

    <!-- breadcam_area_start -->
    <div class="breadcam_area bradcam_bg overlay2">
        <div class="bradcam_text">
            <h3>Shopping Cart</h3>
        </div>
    </div>
    <!-- breadcam_area_end -->

    <!-- lastest_project_strat -->
    <div class="lastest_project">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-60">
                        <span class="sub_heading">Dental Product</span>
                        <h3>Our Latest Product</h3>
                        <div class="seperator"></div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-80" id="product" th:each="product : ${list}">
                <div class="col-xl-6 col-md-6">
                    <div class="section_title">
                        <span class="sub_heading2">Dhaka, Bangladesh</span>
                        <h4 th:text="${product.name}"></h4>
                        <p th:text="${product.detail}"></p>
                        <a th:href="@{'/cart/add-To-Cart/' + ${product.id}}"  class="boxed-btn"><i class="fa fa-cart-plus"></i>Add To Cart</a>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-md-6">
                    <div class="single_project_thumb">
                        <img th:src="'/img/' + ${product.imgURL}" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- lastest_project_end -->

    <!-- testmonial_area_start -->
    <div class="testmonial_area testimonial_bg overlay2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_testmonial">
                            <div class="testmonial_info text-center">
                                <div class="author">
                                    <img th:src="@{/ararat/img/testmonial/author.png}" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor
                                    incididunt ut
                                    <br> labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                    Risus
                                    commodo
                                    viverra <br> maecenas accumsan lacus vel facilisis. </p>
                                <div class="author_name">
                                    <h4>-MITHILA</h4>
                                    <span> Designer at Colorlib</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_testmonial">
                            <div class="testmonial_info text-center">
                                <div class="author">
                                    <img th:src="@{/ararat/img/testmonial/author.png}" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor
                                    incididunt ut
                                    <br> labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                    Risus
                                    commodo
                                    viverra <br> maecenas accumsan lacus vel facilisis. </p>
                                <div class="author_name">
                                    <h4>-MITHILA</h4>
                                    <span> Designer at Colorlib</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_testmonial">
                            <div class="testmonial_info text-center">
                                <div class="author">
                                    <img src="../static/ararat/img/testmonial/author.png" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor
                                    incididunt ut
                                    <br> labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                    Risus
                                    commodo
                                    viverra <br> maecenas accumsan lacus vel facilisis. </p>
                                <div class="author_name">
                                    <h4>-MITHILA</h4>
                                    <span> Designer at Colorlib</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testmonial_area_end -->

    <!-- messege_area_start -->
    <div class="messege_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6">
                    <div class="messege_thumb">
                        <img th:src="@{/ararat/img/testmonial/mesege.png}" alt="">
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-md-6">
                    <div class="section_title mb-20">
                        <span class="sub_heading">Contact Us</span>
                        <h3>Send your message</h3>
                        <div class="seperator"></div>
                    </div>
                    <form action="#" class="messege">
                        <input type="email" placeholder="Your Email">
                        <input type="text" placeholder="Subject">
                        <textarea placeholder="Messege"></textarea>
                        <button class="boxed-btn">SEND US</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- messege_area_end -->

    <!-- footer_start -->
    <div th:replace="fragments/client-footer :: footer">...</div>
    <!-- footer_end -->


    <!-- JS here -->
    <script th:src="@{/ararat/js/vendor/modernizr-3.5.0.min.js}"></script>
    <script th:src="@{/ararat/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/ararat/js/popper.min.js}"></script>
    <script th:src="@{/ararat/js/bootstrap.min.js}"></script>
    <script th:src="@{/ararat/js/owl.carousel.min.js}"></script>
    <script th:src="@{/ararat/js/isotope.pkgd.min.js}"></script>
    <script th:src="@{/ararat/js/ajax-form.js}"></script>
    <script th:src="@{/ararat/js/waypoints.min.js}"></script>
    <script th:src="@{/ararat/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/ararat/js/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{/ararat/js/scrollIt.js}"></script>
    <script th:src="@{/ararat/js/jquery.scrollUp.min.js}"></script>
    <script th:src="@{/ararat/js/wow.min.js}"></script>
    <script th:src="@{/ararat/js/nice-select.min.js}"></script>
    <script th:src="@{/ararat/js/jquery.slicknav.min.js}"></script>
    <script th:src="@{/ararat/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/ararat/js/plugins.js}"></script>

    <!--contact js-->
    <script th:src="@{/ararat/js/contact.js}"></script>
    <script th:src="@{/ararat/js/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{/ararat/js/jquery.form.js}"></script>
    <script th:src="@{/ararat/js/jquery.validate.min.js}"></script>
    <script th:src="@{/ararat/js/mail-script.js}"></script>

    <script th:src="@{/ararat/js/main.js}"></script>

</body>

</html>