<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
        <script src="js/menu/demo.js" type="text/javascript"></script>

    </head>
    <body>
        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Menu ID
                    </th>
                    <th class="th-sm">Menu Name
                    </th>
                    <th class="th-sm">Created date 
                    </th>
                     <th class="th-sm">them
                    </th>
                     <th class="th-sm">sua
                    </th>
                </tr>
            </thead>
            <tbody>
            
                <tr th:each="menu : ${listCustomer}">
                    <td><p th:text="${menu.menuId}"></p></td>
                    <td><p th:text="${menu.menuName}"></p></td>
                    <td><p th:text="${menu.dateCreated}"></p></td>
                    <td><a href="them?(menuId=${menu.menuId})"><p th:text="them"></p></a></td>    
                    <td><a href="xoa?(menuId=${menu.menuId})"><p th:text="xoa"></p></a></td>                
                  
                    

                </tr>
           
               
            </tbody>
            <tfoot>
                <tr>
                    <th>Name
                    </th>
                    <th>Position
                    </th>
                    <th>Office
                    </th>
                    <th>Age
                    </th>
                    <th>Start date
                    </th>
                    <th>Salary
                    </th>
                </tr>
            </tfoot>
        </table>
    </body>
</html>
