<!DOCTYPE html  >

<html xmlns:th="http://www.thymeleaf.org" >

<head>

    <title>Laravel 5.8 Ajax CRUD tutorial using Datatable - ItSolutionStuff.com</title>

    <meta name="csrf-token" content="{{ csrf_token() }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />

    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../static/js/sidebarmenu.js"></script>
    <script src="js/test.js"></script>

</head>

<body>



<div class="container">

    <h1>Laravel 5.8 Ajax CRUD tutorial using Datatable - ItSolutionStuff.com</h1>

    <a class="btn btn-success" href="javascript:void(0)" id="createNewProduct"> Create New Product</a>

    <table id="dtBasicExample" class="table table-bordered data-table">
        <thead>
        <tr>
            <th class="th-sm">Menu ID
            </th>
            <th class="th-sm">Menu Name
            </th>
            <th class="th-sm">Created date
            </th>
            <th class="th-sm">them
            </th>
            <th class="th-sm">sua
            </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="menu : ${listCustomer}">
            <td><p th:text="${menu.menuId}"></p></td>
            <td><p th:text="${menu.menuName}"></p></td>
            <td><p th:text="${menu.dateCreated}"></p></td>
            <td><button class="btn btn-danger">
                <i class="glyphicon glyphicon-remove"></i>
            </button></td>
            <td><a href="xoa?(menuId=${menu.menuId})"><p th:text="xoa"></p></a></td>



        </tr>


        </tbody>

    </table>

</div>



<div class="modal fade" id="ajaxModel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title" id="modelHeading"></h4>

            </div>

            <div class="modal-body">

                <form id="productForm" name="productForm" class="form-horizontal">

                    <input type="hidden" name="product_id" id="product_id">

                    <div class="form-group">

                        <label for="name" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-12">

                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" value="" maxlength="50" required="">

                        </div>

                    </div>



                    <div class="form-group">

                    <label class="col-sm-2 control-label">Details</label>

                    <div class="col-sm-12">

                        <textarea id="detail" name="detail" required="" placeholder="Enter Details" class="form-control"></textarea>

                    </div>

                </div>
                    <div class="form-group">

                        <label class="col-sm-2 control-label">Details</label>

                        <div class="col-sm-12">

                            <textarea id="" name="detail" required="" placeholder="Enter Details" class="form-control"></textarea>

                        </div>

                    </div>



                    <div class="col-sm-offset-2 col-sm-10">

                        <button type="submit" class="btn btn-primary" id="saveBtn" value="create">Save changes

                        </button>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>



</body>



<!--<script type="text/javascript">-->






<!--</script>-->

</html>